# Python
__pycache__/
*.pyc

# Virtual environment
panns_env/
venv/

# Dataset
dataset/
datasets/
data/
audio/
*.wav
*.ogg
*.webm
*.flac

# Checkpoints
*.pth
*.pt

# Logs
runs/
logs/

# macOS
.DS_Store